
/*HEADER*/
.navbar{
  font-family: 'Cinzel', serif;
  background-color: #ffe1a9;
  font-size: 20px;
}
.nav-link{
color: #000000;}
/*FINAL HEADER*/

/*CARRUSEL*/
.carousel-inner{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    width: 600px;
    height: 600px;
}
/*FINAL CARRUSEL*/

/*FOOTER*/
.bg-navbar{
  margin-top: 50px;
  background-color: #ffe1a9;
}
/*FINAL FOOTER*/



/*CONTACTANOS CON MEDIA QUERYS*/

  #contact{
    font-family: 'Cinzel', serif;
    }
  
    #contact p{
      margin-top: 20px;
    }
    
  
  #contact i{
    color: #000000;
    font-size: 25px;
  }

  #contact .logo{
    width: 190px;
    height: 150px;
  }
  
  @media (max-width: 575.98px) {
  
    #contact{padding-bottom: 800px;}

    #contact .maps iframe{
      width: 100%;
      height: 450px;
    }
   }
  
  
  @media (min-width: 576px) {
  
     #contact{padding-bottom: 800px;}
  
     #contact .maps iframe{
       width: 100%;
       height: 450px;
     }
   }
  
  @media (min-width: 768px) {
  
    #contact{padding-bottom: 350px;}
  
    #contact .maps iframe{
      width: 100%;
      height: 850px;
    }
  }
  
  @media (min-width: 992px) {
    #contact{padding-bottom: 200px;}
  
     #contact .maps iframe{
       width: 100%;
       height: 750px;
     }
  }
  /*FINAL CONTACTANOS*/

/*Catalogo*/
.card{
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
}
.card-title{
  font-family: 'Fraunces', serif;

  text-align: center;

}
.card-text{
          font-family: 'Fraunces', serif;
  color: #535353;
  text-align: center;
}

.btn{
  margin-left: 35%;
}

.img-producto{
  width: 250px;
  height: 250px;
  margin-left: 8px;
  margin-top: 8px;
}
