html{
    background-color: #ffffff;
    position: relative;
  min-height: 100%;
}

body {
    margin: 0;
    font-family: 'Cinzel', serif;
    
}

/*HEADER PANTALLAS*/
.headerhome {
   
    overflow: hidden;
    padding: 19px;
    text-align: center;
    background: #ffe1a9;
    color: rgb(56, 56, 56);
}

.headerhome a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.titulohome{
    margin: 0 0 0 17rem;
}

.iniciarsesionhome{
    margin: 0 0 0 21rem;
}
/*FINAL HEADER*/
/*HEADER CATALOGO*/
.header {
    position:fixed;
    overflow: hidden;
    padding: 19px;
    text-align: center      ;
    background: #ffe1a9;
    color: rgb(56, 56, 56);
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header-left {
    float: left;
}

.titulo{
    margin: 0 0 0 12rem;
}
.iniciarsesion{
  margin: 0 0 0 26rem;
}

/*FINAL HEADER*/


.containeriniciar{
  height: 100%;
  width: 100%;
  margin-left: 650px;
  background-color:#717171;
}
.input-group{
top: 180px;
position: absolute;
width: 280px;
transition: 0.8s;
}

.input-field{
width: 100%;
padding: 10px 0;
margin: 5px 0;
border-left: 0;
border-right: 0;
border-top: 0;
border-bottom: 2px solid #000000;
outline: none;
background: transparent;
} 


.containercrear{
  height: 100%;
  width: 100%;
  margin-left: 650px;
  background-color:#717171;
}
.input-group2{
top: 180px;
position: absolute;
width: 280px;
transition: 0.8s;
}

.input-field2{
width: 100%;
padding: 10px 0;
margin: 5px 0;
border-left: 0;
border-right: 0;
border-top: 0;
border-bottom: 2px solid #000000;
outline: none;
background: transparent;
} 
.check-box{
  margin: 30px 10px 30px 0;
}
.span{
font-size: 12px;
}
.submit-button{
  width: 50%;
  padding: 10px 10px;
  cursor: pointer;
  display: block;
  margin: auto;
  outline: none;

}

/*FOTOS y TEXTO PANTALLA HOME*/
.foto1{
    padding-left: 10px;
    padding-top: 15px;
    width: 500px;
    height: 650px;
}

.foto2{
    padding-top: 15px;
    width: 500px;
    height: 650px;
}

.foto3{
    padding-top: 15px;
    width: 493px;
    height: 650px;
    
}


/* FINAL FOTOS y TEXTO PANTALLA HOME*/

.productos{
    display: flex;
    flex-wrap: wrap;
}
.productos .product-container img{
    width: 250px;
    height: 250px;
    margin-left: 250px;
    margin-top: 120px;
}
.productos .product-container p{
    font-size: 30px;
    margin-left: 280px;
}
.productos .product-container button{
    margin-left: 320px;
}

.form-contact{
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 20px;


}
.form-contact input[type='text'],
.form-contact textarea{
  width: 100%;
  margin-bottom: 15px;
  padding: 12px 20px;
  border: 1px solid #000000;
  font-weight: 400;
  }
  
  .button-submit{
    margin-left: 550px;
  }

  .info-contact{
    margin-left: 550px;
  }
  .link-facebook{
    margin-left: 170px;
  }
  .p-contact{
    margin-left: 110px;
  }
  .h1-contactact{
    margin-left: 80px;
  }