#seleccion{
  text-align:center;
}
#boton{
  margin-left: 150px;
}
html{
    background-color: #ffffff;
    position: relative;
  min-height: 100%;
}

body {
    margin: 0;
    font-family: 'Cinzel', serif;
    
}
/*ccs de juan*/
#dat{
  text-align:center;
}
.darkco .nosotrositem h2{
  text-align: center;
}
#pnosotros{
  text-align: justify;
  margin-left: 400px;
  margin-right: 400px;

}
.darkco .personadato img{
  width: 250px;
  height: 250px;
  margin-left: 200px;
  /*margin-top: 120px;*/
}
.darkco .personadato p{
  font-size: 30px;
  margin-left: 220px;
}

.darkco .persona{
  display: flex;
  flex-wrap: wrap;
}
.darkco .productocontenido h2{
  text-align: center;
}

.darkco .productositem img{
  width: 350px;
  height: 350px;
  margin-left: 200px;

  
  /*margin-top: 120px;*/
}
.darkco .productositem{
  display: flex;
  flex-wrap: inline;
}
.darkco .productositem p{
  font-size: 25px;
  margin-left: 50px;
  margin-right: 200px;
  text-align: justify;
}

.darkco .productositem2 img{
  width: 350px;
  height: 350px;
  margin-right: 200px;

  
  /*margin-top: 120px;*/
}
.darkco .productositem2{
  display: flex;
  flex-wrap: inline;
}
.darkco .productositem2 p{
  font-size: 25px;
  margin-right: 80px;
  margin-left: 200px;
  text-align: justify;
}
.catalogo .productos img{
  
  width: 100px;
  height: 100px;
  margin-left: 130px;
  
}

.catalogo {
  
  display: flex;
  flex-wrap: wrap;
}



/*borrar*/
#datos img{
  width: 350px;
  height: 350px;
  margin-left: 200px;
}
 #datoss{
  display: flex;
  flex-wrap: inline;
}
#datos p{
  font-size: 25px;
  margin-left: 50px;
  margin-right: 100px;
  text-align:justify;
}

#datos2 img{
  width: 350px;
  height: 350px;
  margin-left: 200px;
}
 #datoss22{
  display: flex;
  flex-wrap: inline;
}
#datos2 p{
  font-size: 25px;
  margin-left: 50px;
  margin-right: 100px;
  text-align:justify;
}

#datos3 img{
  width: 350px;
  height: 350px;
  margin-left: 200px;
}
 #datoss33{
  display: flex;
  flex-wrap: inline;
}
#datos3 p{
  font-size: 25px;
  margin-left: 50px;
  margin-right: 100px;
  text-align:justify;
}
  

/*fin borrar*/




.navbar{
  font-family: 'Cinzel', serif;
  background-color: #ffe1a9;
  font-size: 20px;
  }
  
  .nav-link{
  color: #000000;}
  .bg-navbar{
  margin-top: 50px;
  background-color: #ffe1a9;
  }









/*HEADER PANTALLAS*/
.headerhome {
   
    overflow: hidden;
    padding: 19px;
    text-align: center;
    background: #ffe1a9;
    color: rgb(56, 56, 56);
}

.headerhome a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.titulohome{
    margin: 0 0 0 17rem;
}

.iniciarsesionhome{
    margin: 0 0 0 21rem;
}
/*FINAL HEADER*/
/*HEADER CATALOGO*/
.header {
    position:fixed;
    overflow: hidden;
    padding: 19px;
    text-align: center      ;
    background: #ffe1a9;
    color: rgb(56, 56, 56);
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header-left {
    float: left;
}

.titulo{
    margin: 0 0 0 12rem;
}
.iniciarsesion{
  margin: 0 0 0 26rem;
}

/*FINAL HEADER*/
/*FOOTER*/
.darkco{
    margin-top: 10px;
    background-color: #ffe1a9;
    color: black;
    font-family:'Cinzel', serif; 
}

.darkco p{
    font-size: 20px;
    margin-left: 100px;
}

.darkco .grid-item h2{
    margin-left: 400px;
}
  
.darkco .grid-container {
    display: grid;
    grid-template-columns: 40% 60%;
}

.foot-input input{
    width: 500px;
    border-radius: 0px;
    border-color: gray;
}
  
.foot-input{
    padding-left: 100px;
    padding-top: 100px;
    
}

.darkco button{
    color:gray;
    background-color: gainsboro;
    border: 0; 
    height: 23px; 
    border-radius: 0px;
    border-width: 1px;
}

.darkco button:hover{
    background-color: black;
    color: white;
}
/*FINAL FOOTER*/

/*FOTOS y TEXTO PANTALLA HOME*/
.foto1{
    padding-left: 10px;
    padding-top: 15px;
    width: 500px;
    height: 650px;
}

.foto2{
    padding-top: 15px;
    width: 500px;
    height: 650px;
}

.foto3{
    padding-top: 15px;
    width: 493px;
    height: 650px;
    
}

.info{
    text-align: center;
    
}
/* FINAL FOTOS y TEXTO PANTALLA HOME*/

.productos{
    display: flex;
    flex-wrap: wrap;
}
.productos .product-container img{
    width: 250px;
    height: 250px;
    margin-left: 250px;
    margin-top: 120px;
}
.productos .product-container p{
    font-size: 30px;
    margin-left: 280px;
}
.productos .product-container button{
    margin-left: 320px;
}


.wrapper{
  display: flex;
  position: fixed;
  
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #ffe1a9;
  padding: 30px 0px;
  position: fixed;
  margin-top: 68px;
position:sticky;
}

.wrapper .sidebar h2{
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #000000;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #594f8d;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}


.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}

@media (max-height: 500px){
  .social_media{
    display: none !important;
  }
}



