/*HEADER*/
.navbar{
  font-family: 'Cinzel', serif;
  background-color: #ffe1a9;
  font-size: 20px;
}
.collapse .btn{
margin-left: 0px;
width: 80px;
height: 40px;
}
.collapse .form-control{
  margin-left: 220px;

} 
/*FINAL HEADER*/

/*FOOTER*/
.bg-navbar{
  font-family: 'Fraunces', serif;  
  margin-top: 150px;
  background-color: hsl(39, 100%, 83%);
}
/*FINAL FOOTER*/




/*ccs de juan*/
#dat{
  text-align:center;
}
.darkco .nosotrositem h2{
  text-align: center;
}
#pnosotros{
  text-align: justify;
  margin-left: 400px;
  margin-right: 400px;

}
.darkco .personadato img{
  width: 250px;
  height: 250px;
  margin-left: 200px;
  /*margin-top: 120px;*/
}
.darkco .personadato p{
  font-size: 30px;
  margin-left: 220px;
}

.darkco .persona{
  display: flex;
  flex-wrap: wrap;
}
.darkco .productocontenido h2{
  text-align: center;
}

.darkco .productositem img{
  width: 350px;
  height: 350px;
  margin-left: 200px;

  
  /*margin-top: 120px;*/
}
.darkco .productositem{
  display: flex;
  flex-wrap: inline;
}
.darkco .productositem p{
  font-size: 25px;
  margin-left: 50px;
  margin-right: 200px;
  text-align: justify;
}

.darkco .productositem2 img{
  width: 350px;
  height: 350px;
  margin-right: 200px;

  
  /*margin-top: 120px;*/
}
.darkco .productositem2{
  display: flex;
  flex-wrap: inline;
}
.darkco .productositem2 p{
  font-size: 25px;
  margin-right: 80px;
  margin-left: 200px;
  text-align: justify;
}
.catalogo .productos img{
  
  width: 100px;
  height: 100px;
  margin-left: 130px;
  
}

.catalogo {
  
  display: flex;
  flex-wrap: wrap;
}



/*borrar*/
#datos img{
  width: 350px;
  height: 350px;
  margin-left: 200px;
}
 #datoss{
  display: flex;
  flex-wrap: inline;
}
#datos p{
  font-size: 25px;
  margin-left: 50px;
  margin-right: 100px;
  text-align:justify;
}

#datos2 img{
  width: 350px;
  height: 350px;
  margin-left: 200px;
}
 #datoss22{
  display: flex;
  flex-wrap: inline;
}
#datos2 p{
  font-size: 25px;
  margin-left: 50px;
  margin-right: 100px;
  text-align:justify;
}

#datos3 img{
  width: 350px;
  height: 350px;
  margin-left: 200px;
}
 #datoss33{
  display: flex;
  flex-wrap: inline;
}
#datos3 p{
  font-size: 25px;
  margin-left: 50px;
  margin-right: 100px;
  text-align:justify;
}
  

/*fin borrar*/




  .darkco{
    margin-top: 10px;
    background-color: #ffe1a9;
    color: black;
    font-family:'Cinzel', serif; 
}

.darkco p{
    font-size: 20px;
    margin-left: 100px;
}

.darkco .grid-item h2{
    margin-left: 400px;
}
  
.darkco .grid-container {
    display: grid;
    grid-template-columns: 40% 60%;
}

